.head_bar {
    width:98%;
    height:100px;
    background: #87b4eb;
    color:white;
    font-size:25px;
    font-family: serif;
    position: absolute;
}

h3 {
   font-family: serif;
    color: #87b4eb;
    font-size: 25px;
    padding-top: 1%;
}

li {
    color: #666666;
}

ul {
    padding-top: -1%;
    list-style-type: circle
}
